html, body {
  font-family: 'Montserrat';
  min-width: 100vw;
  min-height: 100vh;
  background-image: linear-gradient(to top, #0ba360 0%, green 100%);
}
.App {
  text-align: center;
  width: 85vmin;
  min-height: 100vh;
  margin: 0 auto;
  background-color: white;
}
nav {
  border-bottom: 2px solid green;
  width: 85vmin;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  padding: 1vmin 0;
  margin: 0 0 1vmin 0;
}
h1 {
  margin: 0;
  padding: 1vmin 0;
  color: white;
  background-color: green;
}
h2, h4, h5, h6 {
  margin: 0;
  padding: 1vmin 0;
  color: green;
}
fieldset {
  border: 3px solid green;
}
fieldset legend {
  color: green;
}

input[type=button], input[type=submit], nav button, button[type=button] {
  background-color: green;
  font-size: 2vmin;
  color: white;
  font-family: 'Montserrat';
  margin: 1vmin .5vmin;
}
input[type=text] {
  width: 49.75vmin;
  margin: 1vmin 0;
  font-family: 'Montserrat';
}
.type-container {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: 1fr;
}
.EffectBox {
  grid-area: 1 / 1 / 12 / 2;
}
.FlavorBox {
  grid-area: 2 / 1 / 17 / 3;
}
.SpeciesBox {
  grid-area: 13 / 1 / 17 / 2;
}

form {
  display: flex;
  flex-direction: column;
  width: 80vmin;
  margin: 0 auto;
  flex: 1;
}
.selected {
  flex: 1;
}
form-section {
  flex: 0 0 3;
}

.fieldset {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: auto;
}
.check-holder {
  text-align: right;
}
.add {
  display: flex;
  width: 20vmin;
  margin: 0 auto;
}

label {
  color: green;
  font-size: 1.10vmin
}
.add p {
  flex: 1;
  color: green;
}

.add button {
  width: 3vmin;
  height: 3vmin;
  flex: 0 0 1;
  margin: auto;
  font-size: 2vmin;
  color: white;
  background-color: green;
  border: 1px solid white;
}

.faves-container {
  width: 80vmin;
  margin: 0 auto;
  padding: 1vmin;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.suggestion-container {
  width: 80vmin;
  overflow-x: auto;
  margin: 1vmin auto;
  padding: 1vmin auto;
  display: flex;
  flex-direction: row;
}
.indica {
  background-color: purple;
  color: white;
  width: 20vmin;
  padding: 1vmin;
  border: 1px solid white;
  box-sizing: border-box;
  flex: 0 0 1;
}

.sativa {
  background-color: green;
  color: white;
  width: 20vmin;
  padding: 1vmin;
  border: 1px solid white;
  box-sizing: border-box;
  flex: 0 0 1;
}

.hybrid {
  background-color: #CB5C0D;
  color: white;
  width: 20vmin;
  padding: 1vmin;
  border: 1px solid white;
  box-sizing: border-box;
  flex: 0 0 1;
}
.Strains {
  width: 50vmin;
  height: 25vmin;
  overflow: scroll;
  border: 1px solid green;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
li {
  text-align: center;
  list-style: none;
  font-size: 2vmin;
  padding-right: 0vmin;
}

.search-holder {
  display: flex;
}
.strain-holder {
  flex: 0 0 2;
  margin: 0 auto;
}
.strain {
  display: flex;
  flex-direction: column;
}

.strain button {
  margin-top: auto;
}
.Permissions {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vmin;
  height: 100vh;
}

.Permissions div {
  position: relative;
  width: 60vmin;
  height: 60vh;
  margin: 20vh auto;
  background-color: white;
}
.Permissions div h1 {
  margin: 0 auto;
  background-color: white;
  color: green;
  text-align: center;
}
.Permissions div p {
  max-width: 50vmin;
  margin: 5vh auto;
}
.Permissions div form {
  width: 60vmin;
  margin: 0 auto;
}
.Permissions div form input[type=date] {
  width: 40vmin;
  height: 10vh;
  font-size: 2.5vh;
  font-family: 'Montserrat';
  margin: 0 auto;
}
.Permissions div form input[type=submit] {
  margin-top: auto;
}
@media (max-width: 700px) {
  .type-container {
    grid-template-columns: 1fr;
  }
}
ul {
  padding: 0;
}
